@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 254 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 254 0% 96%;
    --popover-foreground: 254 95% 10%;
    --primary: 254 46.2% 33.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 29 100% 96%;
    --secondary-foreground: 14 26% 29%;
    --muted: 216 10% 95%;
    --muted-foreground: 254 0% 40%;
    --accent: 216 10% 90%;
    --accent-foreground: 254 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 254 0% 96%;
    --border: 254 20% 82%;
    --input: 254 20% 50%;
    --ring: 254 46.2% 33.5%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 254 10% 5%;
    --foreground: 254 5% 90%;
    --card: 254 5% 1%;
    --card-foreground: 254 5% 90%;
    --popover: 254 10% 5%;
    --popover-foreground: 254 5% 90%;
    --primary: 254 46.2% 33.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 254 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 216 10% 15%;
    --muted-foreground: 254 5% 60%;
    --accent: 216 10% 15%;
    --accent-foreground: 254 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 254 5% 90%;
    --border: 254 20% 18%;
    --input: 254 20% 18%;
    --ring: 254 46.2% 33.5%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply text-foreground;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1440px] px-4 sm:px-6 lg:px-8 xl:px-16;
  }

  .section-title {
    @apply text-2xl font-bold text-primary transition-all duration-300 md:text-3xl;
  }

  .section-description {
    @apply text-center text-sm text-muted-foreground transition-all duration-300 lg:text-base;
  }
}
